/*
CSS selectors in order of efficiency
-----------------------------------------------
ID                           (#header)
Class                        (.promo)
Type                         (div)
Adjacent sibling             (h2 + p)
Child                        (li > ul)
Descendant                   (ul a)
Universal                    (*)
Attribute                    ([type="text"])
Pseudo-classes/-elements     (a:hover)
*/

.bordered {
	border: 1px solid black;
}

header {
	font-size: 20px;
}

.padded {
	padding: 20px;
}

footer {
	border: 2px dashed red;
	text-align: center;
}

.promo {
	color: gold;
	font-weight: bold;
}

.month-list a {
	color: gray;
	text-decoration: none;
}

li:nth-child(4) a {
	color: pink;
}

li:nth-child(1) a {
	color: white;
	background-color: black;
}

li:nth-child(8) a {
	color: blue;
}


.month-list a > .active {
	text-decoration: underline;
	color: green;
}

li:last-child a {
	color: red;
}

#november {
	color: orange;
}

#november:before {
	content: "I love Turkey Day! --";
}

#november:after {
	content: " -- Here is another message.";
}